@{
    ViewData["Title"] = "Listar productos";
}
@using Models
@model List<Models.Producto>

<section class="container">
    <h2 class="border-bottom mb-4">Listado de productos</h2>

    <article class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark text-center">
                <th>ID</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Acciones</th>
            </thead>
            <tbody class="text-center">
                @foreach (Producto prod in Model)
                {
                    <tr>
                        <td>@prod.IdProducto</td>
                        <td>@prod.Descripcion</td>
                        <td>@prod.Precio</td>
                        <td>
                            <a asp-controller="Producto" asp-action="Modificar" asp-route-id="@prod.IdProducto" class="btn btn-warning">Modificar</a>
                            <a asp-controller="Producto" asp-action="Eliminar" asp-route-id="@prod.IdProducto" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </article>
</section>