@{
    ViewData["Title"] = "Modificación de cliente";
}
@model Models.Cliente

<h2 class="border-bottom">@ViewData["Title"]</h2>
<form asp-controller="Cliente" asp-action="Modificar" method="post" class="w-75 mx-auto p-4 my-4">
    <input type="hidden" asp-for="@Model.Id">
    <section class="from-group mb-2">
        <label asp-for="Nombre">Nombre completo:</label>
        <input asp-for="Nombre" class="form-control" value="@Model.Nombre">
    </section>
    <section class="form-group mb-2">
        <label asp-for="Email">Correo electrónico:</label>
        <input asp-for="Email" class="form-control" value="@Model.Email">
    </section>
    <section class="form-group mb-4">
        <label asp-for="Telefono">Teléfono de contacto:</label>
        <input asp-for="Telefono" class="form-control" value="@Model.Telefono">
    </section>  
    <section class="d-flex justify-content-center align-items-center my-2 gap-3">
        <input type="submit" value="Actualizar cliente" class="btn btn-primary">
        <input type="reset" value="Limpiar formulario" class="btn btn-outline-primary">
    </section>
</form>