@{
    ViewData["Title"] = "Presupuestos";
}
@using Models
@model List<Presupuesto>

<h2 class="border-bottom my-4">@ViewData["Title"]</h2>
<article class="table-responsive">
    <section class="text-end mb-3">
        <a asp-controller="Presupuesto" asp-action="AltaPresupuesto" class="btn btn-success">+ Crear nuevo presupuesto</a>
    </section>
    
    <table class="table table-striped table-hover">
        <thead class="table-dark text-center">
            <th>Nombre destinatario</th>
            <th>Fecha de creación</th>
            <th>Detalle</th>
            <th>Acciones</th>
        </thead>
        <tbody class="text-center">
            @foreach (Presupuesto presupuesto in Model) {
                <tr>
                    <td>@presupuesto.NombreDestinatario</td>
                    <td>@presupuesto.FechaCreacion</td>
                    <td>
                        <a asp-controller="Presupuesto" asp-action="VerDetalle" asp-route-id="@presupuesto.Id" class="btn btn-primary">Ver detalle</a>
                        <a asp-controller="Presupuesto" asp-action="AgregarProductoDetalle" asp-route-id="@presupuesto.Id" class="btn btn-info">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5z"/>
                            </svg>
                            Producto
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Presupuesto" asp-action="ModificarPresupuesto" asp-route-id="@presupuesto.Id" class="btn btn-warning">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                            </svg>
                            Modificar
                        </a>
                        <a asp-controller="Presupuesto" asp-action="Eliminar" asp-route-id="@presupuesto.Id" class="btn btn-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                            </svg>
                            Eliminar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</article>